In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random
import scipy.stats
import mysql.connector
import warnings
from datetime import datetime, timedelta

warnings.filterwarnings('ignore')
%matplotlib inline
%autosave 60

sns.set_style('dark')
sns.set(font_scale=1.2)

plt.rc('axes', titlesize=9)
plt.rc('axes', labelsize=14)
plt.rc('xtick', labelsize=12)
plt.rc('ytick', labelsize=12)

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 1000)
pd.option_context('float_format', '{:.2f}'.format)

random.seed(0)
np.random.seed(0)
np.set_printoptions(suppress=True)

Autosaving every 60 seconds

In [ ]:
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='admin',
    database='LittleLemonDM',
)
print(mydb)

In [ ]:

cursor = mydb.cursor()
mydb.reconnect()

pd.read_sql_query('SHOW TABLES', mydb)
pd.read_sql_query('SHOW columns FROM bookings', mydb)

In [ ]:
pd.read_sql_query("DESCRIBE bookings", mydb)

In [ ]:
pd.read_sql_query("SELECT * FROM customer", mydb)

In [ ]:
pd.read_sql_query("SELECT * FROM orders", mydb)

In [ ]:
pd.read_sql_query("""SELECT customer.FullName, customer.ContactNumber FROM customer
                    INNER JOIN orders
                    ON customer.CustomerID = orders.Customer_CustomerID
                    WHERE orders.TotalCost > 60
                    """, mydb)

In [ ]:
pd.read_sql_query("""CALL GetMaxQuantity();""", mydb)

In [ ]:
pd.read_sql_query("""CALL CheckBooking("2022-01-01", 5);""", mydb)

In [ ]:
pd.read_sql_query("""CALL AddBooking(99, 99, 99, "2022-12-10");""", mydb)

In [ ]:
cursor.fetchall()

In [ ]:
pd.read_sql_query("""CALL UpdateBooking(99, "2022-01-10");""", mydb)

In [ ]:
cursor.fetchall()

In [ ]:
pd.read_sql_query("""CALL DeleteBooking(99);""", mydb)

In [ ]:
cursor.fetchall()